
.header-item1 {
    background-color: grey;
    max-height: 7em;
}

.header-item2 {
    background-color: grey;
    max-height: 7em;
}

.header-item3 {
    background-color: grey;
    max-height: 7em;
    min-height: 7em;
}

.body {
    margin: auto;
    width: 100%;
    height: 750px;
}

.sidebar {
    float: left;
    width: 15%;
    height: 745px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inside1 {
    height: 300px;
    background-color: grey;

}

.inside2 {
    height: 120px;
    background-color: grey;
}

.body-item1 {
    float: left;
    width: 83%;
    height: 200px;
    background-color: lightgray;
    margin-left: 2%;
}

.body-item2 {
    float: left;
    margin-left: 2%;
    margin-top: 1%;
    display: flex;
    width: 83%;
    height: 300px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.inside {
    flex-basis: 16%;
    min-width: 150px;
    height: 150px;
    background-color: lightgray;
    margin: 10px;
}

.body-item3 {
    float: left;
    margin-top: 3%;
    margin-left: 2%;
    width: 83%;
    height: 200px;
    display: flex;
    justify-content: space-between;
}

.inside10, .inside11 {
    display: flex;
    flex-basis: 49%;
    height: 190px;
    background-color: lightgrey;
}

.footer {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
}

.footer-item {
    
    background-color: lightgrey;
    min-height: 200px;   
}
